<!-- NAVBAR -->
<nav class="navbar fixed-top navbar-expand-xl navbar-dark shadow-lg">
    <div class="container-fluid mx-xl-5">
        <a class="navbar-brand text-warning text-uppercase fs-5" href="#"><b>Sneakers</b> R <b>Us</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLinks">
            <div class="mx-auto">
                <ul class="navbar-mid navbar-nav text-uppercase">
                    <li class="nav-item active mx-xl-3">
                        <a class="nav-link" href="<%= sneakers_path %>">Home</a>
                    </li>
                    <li class="nav-item mx-xl-3">
                        <a class="nav-link" href="<%= brands_path %>">Brands</a>
                    </li>
                    <li class="nav-item mx-xl-3">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item mx-xl-3">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="d-none d-xl-block">
                <ul class="navbar-nav text-uppercase small">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#searchbar">
                            <i class="fas fa-search fs-5"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if customer_signed_in? %><%= edit_customer_registration_path %><% else %><%= new_customer_session_path %><% end %>"><i class="fas fa-user-circle fs-5"></i>
                        </a>
                    </li>
                    <% if customer_signed_in? %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= destroy_customer_session_path %>" data-method="delete"><i class="fas fa-sign-out-alt fs-5"></i></i>
                        </a>
                    </li>
                    <% end %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= cart_path %>"><i class="fas fa-shopping-cart fs-5"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-xl-none d-block me-auto mt-2 mx-2 mx-xl-0">
        <ul class="navbar-nav text-uppercase">
            <div class="d-flex mx-2">
                <li class="nav-item mx-2">
                    <a class="nav-link" data-bs-toggle="collapse" href="#searchbar">
                        <i class="fas fa-search fs-5"></i>
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="<% if customer_signed_in? %> <%= edit_customer_registration_path %> <% else %> <%= new_customer_session_path %> <% end %>"><i class="fas fa-user-circle fs-5"></i>
                    </a>
                </li>
                <% if customer_signed_in? %>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="<%= destroy_customer_session_path %>" data-method="delete"><i class="fas fa-sign-out-alt fs-5"></i></i>
                        </a>
                    </li>
                <% end %>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart fs-5"></i>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</nav>

<body id="customers-body">
    <div class="container-fluid mt-5 mb-5">
        <div class="row p-4">
            <a class="text-uppercase text-decoration-none text-warning text-center fs-3 p-3" href=""><b>Sneakers</b> R <b>Us</b></a>
            <div class="col-lg-4 mx-auto">
                <div class="border rounded-3 shadow-sm bg-white p-4">
                    <h3 class="text-capitalize fw-bold fst-italic">Edit Your Account</h3>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <div class="field">
                            <%= f.label :email, class: "mt-3" %><br />
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-2" %>
                        </div>

                        <div class="field">
                            <%= f.label :current_password, class: "text-capitalize mt-3" %><br />
                            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control mt-2" %>
                        </div>

                        <div class="field">
                            <%= f.label :password, class: "mt-3" %> <i>(leave blank if you don't want to change it)</i><br />
                            <%= f.password_field :password, autocomplete: "new-password", class: "form-control mt-2", placeholder: "New Password" %>
                            <% if @minimum_password_length %>
                                <em class="small"><%= @minimum_password_length %> characters minimum</em>
                            <% end %>
                        </div>

                        <div class="field mt-2">
                            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Repeat Password" %>
                        </div>

                        <div class="actions mt-3">
                            <%= f.submit "Update", class: "btn btn-success text-uppercase fw-bold w-100" %>
                        </div>
                    <% end %>
                    <div class="actitons mt-2">
                        <%= button_to "Delete", registration_path(resource_name), data: { confirm: "You will not be able to undo this decision. Are you sure you want to delete this account?" }, method: :delete, class: "btn btn-danger text-uppercase fw-bold w-100" %>
                    </div>
                </div>
                <div class="text-danger fw-bold p-4">
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
                </div>
            </div>
        </div>
    </div>
</body>

