<body id="customers-body">
    <div class="container-fluid mt-5 mb-5">
        <div class="row p-4">
            <a class="text-uppercase text-decoration-none text-warning text-center fs-3 p-3" href=""><b>Sneakers</b> R <b>Us</b></a>
            <div class="col-lg-4 mx-auto">
                <div class="border rounded-3 shadow-sm bg-white p-4">
                    <h3 class="text-capitalize fw-bold fst-italic">Sign-Up</h3>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <div class="field mt-3">
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
                        </div>

                        <div class="field mt-3">
                            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password (6 characters minimum)" %>
                        </div>

                        <div class="field mt-3">
                            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Repeat Password" %>
                        </div>

                        <%# <div class="field mt-2">
                            <input type="text" class="form-control" placeholder="Province">
                        </div> %>

                        <%# <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select> %>

                        <div class="actions mt-3">
                            <%= f.submit "Sign up", class: "btn btn-success text-uppercase fw-bold w-100" %>
                        </div>
                    <% end %>
                    <p class="small mt-2">By continuing, you agree to our Conditions of Use and Privacy Notice.</p>
                </div>
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
            </div>
        </div>
    </div>
</body>
