<body id="customers-body">
    <div class="container-fluid mt-5 mb-5">
        <div class="row p-4">
            <a class="text-uppercase text-decoration-none text-warning text-center fs-3 p-3" href=""><b>Sneakers</b> R <b>Us</b></a>
            <div class="col-lg-4 mx-auto">
                <div class="border rounded-3 shadow-sm bg-white p-4">
                    <h3 class="fw-bold">Sign-In</h3>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="field">
                            <%= f.label :email, class: "mt-3" %><br />
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-2" %>
                        </div>

                        <div class="field">
                            <%= f.label :password, class: "mt-3" %><br />
                            <%= f.password_field :password, autocomplete: "current-password", class: "form-control mt-2" %>
                        </div>

                        <% if devise_mapping.rememberable? %>
                            <div class="field mt-2 d-flex align-items-center">
                                <%= f.check_box :remember_me, class: "form-check-input my-0" %>
                                <%= f.label :remember_me, class: "small mx-2 my-0" %>
                                <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-decoration-none small ms-auto" %>
                            </div>
                        <% end %>

                        <div class="actions mt-2">
                            <%= f.submit "Log in", class: "btn btn-success text-uppercase fw-bold w-100" %>
                        </div>
                    <% end %>
                    <p class="small mt-2">By continuing, you agree to our Conditions of Use and Privacy Notice.</p>
                    <hr class="mt-2">
                    <p class=" small mt-2">New here? <a class="text-decoration-none text-warning" href="<%= new_registration_path(resource_name) %>">Create an account.</a></p>
                </div>
                <div class="text-danger fw-bold p-2 border">
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
                </div>
            </div>
        </div>
    </div>
</body>

                    <%# <form>
                        <div class="mb-3 mt-2">
                            <label for="exampleInputEmail1" class="form-label text-capitalize">Email Address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label text-capitalize">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-success text-uppercase fw-bold w-100">Log-In</button>
                    </form> %>