<!-- NAVBAR -->
<nav class="navbar fixed-top navbar-expand-xl navbar-dark shadow-lg">
    <div class="container-fluid mx-xl-5">
        <a class="navbar-brand text-warning text-uppercase fs-5" href="<%= sneakers_path %>"><b>Sneakers</b> R <b>Us</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLinks">
            <div class="mx-auto">
                <ul class="navbar-mid navbar-nav text-uppercase">
                    <li class="nav-item active mx-xl-3">
                        <a class="nav-link" href="<%= sneakers_path %>">Home</a>
                    </li>
                    <li class="nav-item mx-xl-3">
                        <a class="nav-link" href="<%= brands_path %>">Brands</a>
                    </li>
                    <li class="nav-item mx-xl-3">
                        <a class="nav-link" href="<%= about_path %>">About</a>
                    </li>
                    <li class="nav-item mx-xl-3">
                        <a class="nav-link" href="<%= contact_path %>">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="d-none d-xl-block">
                <ul class="navbar-nav text-uppercase small">
                    <% if customer_signed_in? %>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"><i class="fas fa-user-circle text-warning fs-5"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="<%= edit_customer_registration_path %>">My Account</a></li>
                                <li><a class="dropdown-item" href="<%= orders_path %>">My Orders</a></li>
                                <li><a class="dropdown-item" href="<%= destroy_customer_session_path %>" data-method="delete">Log Out</a></li>
                            </ul>
                        </li>
                    <% else %>
                        <li class="nav-item">
                            <a class="nav-link" href="
                                <% if customer_signed_in? %>
                                    <%= edit_customer_registration_path %>
                                <% else %>
                                    <%= new_customer_session_path %>
                                <% end %>
                            ">
                            <i class="fas fa-user-circle fs-5"></i></a>
                        </li>
                    <% end %>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#searchbar">
                            <i class="fas fa-search fs-5"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= cart_index_path %>">
                            <i class="fas fa-shopping-cart fs-5">
                                <% if session[:shopping_cart].any? %>
                                    <sup class="text-white rounded-1 bg-danger pb-1 px-2 "><%= session[:shopping_cart].count %></sup>
                                <% end %>
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-xl-none d-block me-auto mt-2 mx-2 mx-xl-0">
        <ul class="navbar-nav text-uppercase">
            <div class="d-flex mx-2">
                <li class="nav-item mx-2">
                    <a class="nav-link" data-bs-toggle="collapse" href="#searchbar">
                        <i class="fas fa-search fs-5"></i>
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="<% if customer_signed_in? %> <%= edit_customer_registration_path %> <% else %> <%= new_customer_session_path %> <% end %>"><i class="fas fa-user-circle fs-5"></i>
                    </a>
                </li>
                <% if customer_signed_in? %>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="<%= destroy_customer_session_path %>" data-method="delete"><i class="fas fa-sign-out-alt fs-5"></i></i>
                        </a>
                    </li>
                <% end %>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart fs-5"></i>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</nav>
<div class="collapse" id="searchbar">
    <div class="card card-body rounded-0 shadow fixed-top mt-5 p-3">
        <a class="btn-close ms-auto" data-bs-toggle="collapse" data-bs-target="#searchbar" style="height: 5px;"></a>
        <form class="d-lg-flex flex-wrap justify-content-center mt-2" action="<%= search_path %>" method="get" accept-charset="UTF-8">
            <div class="col-lg-2 mx-lg-2">
                <select class="form-select text-uppercase" name="brands">
                    <option value="" selected>Brand</option>
                    <% @brands.each do |brand| %>
                        <option value="<%= brand.id %>"><%= brand.name %></option>
                    <% end %>
                </select>
            </div>
            <div class="col-lg-8 mx-lg-1 mt-2 mt-lg-0">
                <input class="form-control" name="keywords" type="search" placeholder="ex. Air Jordan 1">
            </div>
            <div class="col-xl-1 mx-lg-2 mt-2 mt-lg-0">
                <button class="btn btn-success text-uppercase fw-bold w-100" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>