<div class="col-sm-6 col-md-4 p-2">
    <div class="card border-0 shadow-sm">
        <% if sneaker.image.present? %>
            <a href="<%= sneaker_path(sneaker) %>"><%= image_tag sneaker.image, class: "card-img-top shadow-sm img-fluid", alt: sneaker.name %></a>
        <% else %>
            <a href="<%= sneaker_path(sneaker) %>"><%= image_tag sneaker.image_path, class: "card-img-top shadow-sm img-fluid", alt: sneaker.name %></a>
        <% end %>
        <div class="card-body">
            <h5 class="card-title"><%= link_to sneaker.name, sneaker_path(sneaker), class: "fw-bold text-warning text-decoration-none" %></h5>
            <% if sneaker.status == "sale" %>
                <div class="d-flex">
                    <p class="price card-text text-mute text-decoration-line-through"><%= number_to_currency(sneaker.price) %></p>
                    <p class="price card-text fw-bold text-success mx-2"><%= number_to_currency(sneaker.sale_price) %></p>
                </div>
            <% else %>
                <p class="price card-text fw-bold"><%= number_to_currency(sneaker.price) %></p>
            <% end %>
            <%= form_with url: cart_index_path, method: :post do %>
                <input type="hidden" name="id" value="<%= sneaker.id %>" />
                <input type="hidden" name="qty" value="1">
                <%= button_tag "Add to Cart", class: "btn btn-success shadow-sm mt-5 w-100 fw-bold text-uppercase" %>
            <% end %>
            <%= form_with url: buy_index_path, method: :post do %>
                <input type="hidden" name="id" value="<%= sneaker.id %>" />
                <%= button_tag "Buy Now", class: "btn btn-warning shadow-sm mt-2 w-100 fw-bold text-uppercase" %>
            <% end %>
        </div>
    </div>
</div>