<body id="brands-body">
    <%= render "brands/header" %>
    <!-- SHOE LIST -->
    <section id="shoe-list">
        <div class="container-fluid">
            <div class="row">
                <div class="brand-sneaker-container col-12 p-3">
                    <div class="col-lg-9 mx-auto p-2">
                        <h1 class="fw-bold fst-italic">
                        Search
                        <% if @sneakers.count > 1 || @sneakers.count === 0 %>
                            Results
                        <% else %>
                            Result
                        <% end %>
                        </h1>
                        <h5 class="fst-italic">Found <%= pluralize(@sneakers.count, 'Result') %>
                        <% if params[:keywords] == "" && params[:brands] != "" %>
                            when searching for "<%= @sneakers[0].brand.name %>"
                        <% end %>

                        <% if params[:brands] == "" && params[:keywords] == "" %>

                        <% elsif params[:brands] == "" && params[:keywords] != "" %>
                            when searching for "<%= params[:keywords] %>"
                        <% end %></h5>
                        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                            <ol class="breadcrumb fw-bold mt-3">
                                <li class="breadcrumb-item text-capitalize small text-decoration-none"><a href="<%= sneakers_path %>" class="text-decoration-none">Home</a></li>
                                <li class="breadcrumb-item text-capitalize small active fw-bold" aria-current="page">Search</li>
                            </ol>
                        </nav>
                        <%= paginate @sneakers_pagination, window: 2 %>
                        <hr class="mt-3">
                    </div>
                    <div class="col-lg-9 mt-3 d-flex flex-wrap justify-content-start mx-auto">
                        <% @sneakers_pagination.each do |sneaker| %>
                            <div class="col-xs-12 col-sm-6 col-md-4 p-2">
                                <div class="card border-0 shadow-sm">
                                    <% if sneaker.image.present? %>
                                        <a href="<%= sneaker_path(sneaker) %>"><%= image_tag sneaker.image, class: "card-img-top shadow-sm img-fluid", alt: sneaker.name %></a>
                                    <% else %>
                                        <a href="<%= sneaker_path(sneaker) %>"><%= image_tag (sneaker.image_path), class: "card-img-top shadow-sm img-fluid", alt: sneaker.name %></a>
                                    <% end %>
                                    <div class="card-body">
                                        <h5 class="price card-title"><a href="<%= sneaker_path(sneaker) %>" class="fw-bold text-warning text-decoration-none"><%= sneaker.name %></a></h5>
                                        <% if sneaker.status == "sale" %>
                                            <div class="d-flex">
                                                <p class="price card-text text-mute text-decoration-line-through"><%= number_to_currency(sneaker.price) %></p>
                                                <p class="price card-text fw-bold text-success mx-2"><%= number_to_currency(sneaker.sale_price) %></p>
                                            </div>
                                        <% else %>
                                            <p class="price card-text fw-bold"><%= number_to_currency(sneaker.price) %></p>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>